.sidebar {
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.4rem;
        height: 6.4rem;
        border: 0.4rem solid $color-primary-dark;
        border-radius: 12.8rem;
        font-size: 4rem;
        font-weight: bold;
        color: $color-primary-dark;
        cursor: pointer;
        transition: all .2s;
        background-color: $color-primary-default;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
            background-color: darken($color-primary-dark, 0.5);
            color: $color-primary-default;
        }

        &:not(last-of-type) {
            margin-bottom: 1.6rem;
        }
        img {
            width: 110%;
            height: auto;
        }
    }
}
