.home {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & img {
        width: 270px;
        height: auto;
        margin-bottom: 30px;
    }
}
