.character {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    cursor: pointer;
    &__box {
        position: relative;
        & .tooltip {
            position: absolute;
            top: -64px;
            left: 0;
        }
    }
}

