.modalbox {
    background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
    height: 100%;
    overflow-y: scroll;
    &__header {
        height: 150px;
        & .thumb-pokemon {
            width: 247px;
            height: 247px;
            position: relative;
            top: 35px;
            left: calc(50% - (247px /2));
            border-radius: 50%;
            background-color: white;
            border: 2px solid $color-primary-default;
            display: grid;
            place-items: center;
            & img {
                width: 100px;
                height: auto;
            }
        }
    }
    &__content {
        min-height: 100%;
        background: $color-neutral-200;
        border-radius: 24px 24px 0px 0px;
        padding-top: 160px;
        padding-left: 24px;
        padding-right: 24px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        color: $color-neutral-700;
        & .title {
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
        }
        & .display {
            margin-top: 36px;
            margin-bottom: 42px;
            font-size: 18px;
            line-height: 24px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1px;
            text-align: center;
            & .skill-title {
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
            }
        }
        & .display > div + div {
            border-left: 1px solid $color-neutral-500;
        }
        & .subtype {
            display: flex;
            align-items: center;
            margin-top: 42px;
            margin-bottom: 24px;
            &:before, &:after {
                content: '';
                height: 1px;
                background-color: $color-neutral-500;
                flex: 1;
            }
            &__title {
                font-size: 18px;
                font-weight: 100;
                text-transform: uppercase;
                padding: 0 12px;
                background: $color-neutral-200;
            }
        }
        .labels-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            & .label {
                font-weight: bold;
                font-size: 12px;
                line-height: 8px;
                color: #fff;
                text-transform: uppercase;
                margin: 0 5px;
            }
        }
        .skills-block {
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
        }
        .statistics-box {
            width: 100%;
            font-size: 12px;
            text-transform: uppercase;
            padding-bottom: 14px;
            & .item {
                display: flex;
                justify-content: space-between;
                margin: 8px 0;
            }
        }
        .submit {
            cursor: pointer;
            margin-bottom: 25px;
            margin-top: 10px;
        }
    }
}
